In [1]:
import pandas

In [14]:
url="https://raw.githubusercontent.com/Anamkhan28/Data-Sets/refs/heads/main/Shopping%20Trends%20And%20Customer%20Behaviour%20Dataset.csv"
df=pandas.read_csv(url)
print(df)

      Unnamed: 0  Customer ID  Age  Gender Item Purchased     Category  \
0              0            1   55    Male         Blouse     Clothing
1              1            2   19    Male        Sweater     Clothing
2              2            3   50    Male          Jeans     Clothing
3              3            4   21    Male        Sandals     Footwear
4              4            5   45    Male         Blouse     Clothing
...          ...          ...  ...     ...            ...          ...
3895        3895         3896   40  Female         Hoodie     Clothing
3896        3896         3897   52  Female       Backpack  Accessories
3897        3897         3898   46  Female           Belt  Accessories
3898        3898         3899   44  Female          Shoes     Footwear
3899        3899         3900   52  Female        Handbag  Accessories

      Purchase Amount (USD)       Location      Color  Season  Review Rating  \
0                        53       Kentucky       Gray  Winter            3.1
1                        64          Maine     Maroon  Winter            3.1
2                        73  Massachusetts     Maroon  Spring            3.1
3                        90   Rhode Island     Maroon  Spring            3.5
4                        49         Oregon  Turquoise  Spring            2.7
...                     ...            ...        ...     ...            ...
3895                     28       Virginia  Turquoise  Summer            4.2
3896                     49           Iowa      White  Spring            4.5
3897                     33     New Jersey      Green  Spring            2.9
3898                     77      Minnesota      Brown  Summer            3.8
3899                     81     California      Beige  Spring            3.1

     Subscription Status   Shipping Type Discount Applied Promo Code Used  \
0                    Yes         Express              Yes             Yes
1                    Yes         Express              Yes             Yes
2                    Yes   Free Shipping              Yes             Yes
3                    Yes    Next Day Air              Yes             Yes
4                    Yes   Free Shipping              Yes             Yes
...                  ...             ...              ...             ...
3895                  No  2-Day Shipping               No              No
3896                  No    Store Pickup               No              No
3897                  No        Standard               No              No
3898                  No         Express               No              No
3899                  No    Store Pickup               No              No

      Previous Purchases Payment Method Frequency of Purchases
0                     14          Venmo            Fortnightly
1                      2           Cash            Fortnightly
2                     23    Credit Card                 Weekly
3                     49         PayPal                 Weekly
4                     31         PayPal               Annually
...                  ...            ...                    ...
3895                  32          Venmo                 Weekly
3896                  41  Bank Transfer              Bi-Weekly
3897                  24          Venmo              Quarterly
3898                  24          Venmo                 Weekly
3899                  33          Venmo              Quarterly

[3900 rows x 18 columns]

In [15]:
Avgage=df['Age'].mean()
print('Employee average age is %d' %Avgage)

Employee average age is 44

In [33]:
top_purchased_items=df['Item Purchased'].value_counts().head(10)
print('Top 10 purchased items are:')
print(top_purchased_items)

Top 10 purchased items are:
Item Purchased
Blouse        171
Pants         171
Jewelry       171
Shirt         169
Dress         166
Sweater       164
Jacket        163
Coat          161
Sunglasses    161
Belt          161
Name: count, dtype: int64

In [22]:
most_purchased_category=df['Category'].value_counts().head(4)
print('Top 4 purchased category are:')
print(most_purchased_category)

Top 4 purchased category are:
Category
Clothing       1737
Accessories    1240
Footwear        599
Outerwear       324
Name: count, dtype: int64

In [30]:
Payment=df['Payment Method'].unique()
print(Payment)

['Venmo' 'Cash' 'Credit Card' 'PayPal' 'Bank Transfer' 'Debit Card']

In [40]:
top_discounts=df[['Item Purchased','Location','Gender','Discount Applied']].sort_values('Discount Applied',ascending=False).head(10)
print('Top 10 discounts are:')
print(top_discounts)

Top 10 discounts are:
     Item Purchased        Location Gender Discount Applied
0            Blouse        Kentucky   Male              Yes
1153          Shirt           Idaho   Male              Yes
1125        Sandals    North Dakota   Male              Yes
1124        Sweater            Iowa   Male              Yes
1123            Hat   Massachusetts   Male              Yes
1122        Handbag  North Carolina   Male              Yes
1121        T-shirt         Florida   Male              Yes
1120       Sneakers    Pennsylvania   Male              Yes
1119        Jewelry       Louisiana   Male              Yes
1118           Belt         Indiana   Male              Yes

In [42]:
ship=df['Shipping Type'].value_counts()
print(ship)

Shipping Type
Free Shipping     675
Standard          654
Store Pickup      650
Next Day Air      648
Express           646
2-Day Shipping    627
Name: count, dtype: int64

In [44]:
gen=df['Gender'].value_counts()
print(gen)

Gender
Male      2652
Female    1248
Name: count, dtype: int64

In [52]:
purchase=df[['Item Purchased','Purchase Amount (USD)','Previous Purchases']].sort_values(by='Purchase Amount (USD)',ascending=False).head(10)
print(purchase)

     Item Purchased  Purchase Amount (USD)  Previous Purchases
1479           Coat                    100                   2
1456           Coat                    100                  30
1591          Skirt                    100                  24
2071         Jacket                    100                  37
1421          Dress                    100                  24
1412         Shorts                    100                  43
1405          Socks                    100                  39
1847        Sandals                    100                  49
769           Socks                    100                   8
2842           Coat                    100                  48

In [50]:
purchase=df[['Item Purchased','Review Rating','Frequency of Purchases','Gender']].sort_values(by='Review Rating',ascending=False).head(15)
print(purchase)

     Item Purchased  Review Rating Frequency of Purchases  Gender
2393          Socks            5.0         Every 3 Months    Male
2405          Jeans            5.0              Quarterly    Male
600             Hat            5.0                Monthly    Male
3467          Scarf            5.0               Annually  Female
507          Shorts            5.0            Fortnightly    Male
3572         Shorts            5.0                Monthly  Female
2319        Sandals            5.0                Monthly    Male
2309          Dress            5.0              Quarterly    Male
660            Coat            5.0              Quarterly    Male
2294     Sunglasses            5.0               Annually    Male
2469        Sandals            5.0               Annually    Male
3443          Dress            5.0              Bi-Weekly  Female
776           Shirt            5.0         Every 3 Months    Male
3446          Boots            5.0                 Weekly  Female
2291           Coat            5.0              Quarterly    Male

In [56]:
sea=df['Season'].value_counts()
print(sea)

Season
Spring    999
Fall      975
Winter    971
Summer    955
Name: count, dtype: int64

In [58]:
sub=df['Subscription Status'].value_counts()
print(sub)

Subscription Status
No     2847
Yes    1053
Name: count, dtype: int64

In [59]:
col=df['Color'].value_counts()
print(col)

Color
Olive        177
Yellow       174
Silver       173
Teal         172
Green        169
Black        167
Cyan         166
Violet       166
Gray         159
Maroon       158
Orange       154
Charcoal     153
Pink         153
Blue         152
Magenta      152
Purple       151
Peach        149
Red          148
Beige        147
Indigo       147
Lavender     147
Turquoise    145
White        142
Brown        141
Gold         138
Name: count, dtype: int64