In [1]:
import numpy
import pandas

In [8]:
lst=['Maintenance','Muscles Gain',19.8,'Weight Loss','Female',41,'North','Male',]

In [9]:
arr=numpy.array(lst)
print(arr)

['Maintenance' 'Muscles Gain' '19.8' 'Weight Loss' 'Female' '41' 'North'
 'Male']

In [10]:
ser=pandas.Series(lst)
print(ser)

0     Maintenance
1    Muscles Gain
2            19.8
3     Weight Loss
4          Female
5              41
6           North
7            Male
dtype: object

In [11]:
print(ser[2])

19.8

In [12]:
print(ser[6])

North

In [13]:
print(ser[1])
print(ser[5])

Muscles Gain
41