In [ ]:
import pandas

In [3]:
df=pandas.DataFrame(columns=['Name','Email','City','Age'])
print(df)

Empty DataFrame
Columns: [Name, Email, City, Age]
Index: []

In [9]:
df.loc[0]=['Anam Khan','anam123@gmail.com','Pune',22]
print(df)

              Name                 Email    City  Age
0        Anam Khan     anam123@gmail.com    Pune   22
1  Akanksha Dhavak  akanksha11@gmail.com  Mumbai   23
2       Apurva Deo    apurva22@gmail.com   Delhi   25

In [10]:
df.loc[1]=['Akanksha Dhavak','akanksha11@gmail.com','Mumbai',23]
print(df)

              Name                 Email    City  Age
0        Anam Khan     anam123@gmail.com    Pune   22
1  Akanksha Dhavak  akanksha11@gmail.com  Mumbai   23
2       Apurva Deo    apurva22@gmail.com   Delhi   25

In [11]:
df.loc[2]=['Apurva Deo','apurva22@gmail.com','Delhi',25]
print(df)

              Name                 Email    City  Age
0        Anam Khan     anam123@gmail.com    Pune   22
1  Akanksha Dhavak  akanksha11@gmail.com  Mumbai   23
2       Apurva Deo    apurva22@gmail.com   Delhi   25

In [12]:
df.loc[3]=['Neha Patil','neha2002@gmail.com','Chennai',27]
print(df)

              Name                 Email     City  Age
0        Anam Khan     anam123@gmail.com     Pune   22
1  Akanksha Dhavak  akanksha11@gmail.com   Mumbai   23
2       Apurva Deo    apurva22@gmail.com    Delhi   25
3       Neha Patil    neha2002@gmail.com  Chennai   27

In [16]:
df.loc[4,['Name','City']]=['Ayan Khan','Bangalore']
print(df)

              Name                 Email       City   Age
0        Anam Khan     anam123@gmail.com       Pune  22.0
1  Akanksha Dhavak  akanksha11@gmail.com     Mumbai  23.0
2       Apurva Deo    apurva22@gmail.com      Delhi  25.0
3       Neha Patil    neha2002@gmail.com    Chennai  27.0
4        Ayan Khan                   NaN  Bangalore   NaN

In [18]:
df.loc[4,'Age']=29
print(df)

              Name                 Email       City   Age
0        Anam Khan     anam123@gmail.com       Pune  22.0
1  Akanksha Dhavak  akanksha11@gmail.com     Mumbai  23.0
2       Apurva Deo    apurva22@gmail.com      Delhi  25.0
3       Neha Patil    neha2002@gmail.com    Chennai  27.0
4        Ayan Khan                   NaN  Bangalore  29.0

In [20]:
df['Age'] = df['Age'].astype(int)
print(df)

              Name                 Email       City  Age
0        Anam Khan     anam123@gmail.com       Pune   22
1  Akanksha Dhavak  akanksha11@gmail.com     Mumbai   23
2       Apurva Deo    apurva22@gmail.com      Delhi   25
3       Neha Patil    neha2002@gmail.com    Chennai   27
4        Ayan Khan                   NaN  Bangalore   29

In [22]:
dic={
    'Product_id':[101,102,103,104,105],
    'Product_name':['Laptop','Computer','Mouse','Keyboard','Power Bank'],
    'Price':[55000,66000,200,350,900],
    'Stock':[25,35,100,150,250]
}
df=pandas.DataFrame(dic)
print(df)

   Product_id Product_name  Price  Stock
0         101       Laptop  55000     25
1         102     Computer  66000     35
2         103        Mouse    200    100
3         104     Keyboard    350    150
4         105   Power Bank    900    250

In [29]:
lst=['Asus','Samsung','Dell','HP','Oneplus']
#df.insert(4,'Brand',lst)
print(lst)

['Asus', 'Samsung', 'Dell', 'HP', 'Oneplus']

In [30]:
print(df)

   Product_id Product_name  Price  Stock    Brand
0         101       Laptop  55000     25     Asus
1         102     Computer  66000     35  Samsung
2         103        Mouse    200    100     Dell
3         104     Keyboard    350    150       HP
4         105   Power Bank    900    250  Oneplus