In [1]:
import pandas

In [3]:
data={
    'A':[10,15,20,25,30],
    'B':[5,15,25,35,45],
    'c':[6,12,18,24,30]
}
df=pandas.DataFrame(data)
print(df)

    A   B   c
0  10   5   6
1  15  15  12
2  20  25  18
3  25  35  24
4  30  45  30

In [4]:
print(df+2)

    A   B   c
0  12   7   8
1  17  17  14
2  22  27  20
3  27  37  26
4  32  47  32

In [6]:
print(df)

    A   B   c
0  10   5   6
1  15  15  12
2  20  25  18
3  25  35  24
4  30  45  30

In [7]:
print(df['A']-df['B']+df['c'])

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [8]:
print(df['B']**2)

0      25
1     225
2     625
3    1225
4    2025
Name: B, dtype: int64

In [24]:
print(df.min())

A    10
B     5
c     6
dtype: int64

In [25]:
print(df.max())

A    30
B    45
c    30
dtype: int64

In [10]:
print(df['A']//2)

0     5
1     7
2    10
3    12
4    15
Name: A, dtype: int64

In [11]:
print(df['A']//df['B'])

0    2
1    1
2    0
3    0
4    0
dtype: int64

In [12]:
print(df.mean())

A    20.0
B    25.0
c    18.0
dtype: float64

In [13]:
print(df.median())

A    20.0
B    25.0
c    18.0
dtype: float64

In [14]:
print(df.sum())

A    100
B    125
c     90
dtype: int64

In [17]:
print(df.std())

A     7.905694
B    15.811388
c     9.486833
dtype: float64

In [26]:
print(df)
print(df.sum())
print(df.sum(axis=1))

    A   B   c
0  10   5   6
1  15  15  12
2  20  25  18
3  25  35  24
4  30  45  30
A    100
B    125
c     90
dtype: int64
0     21
1     42
2     63
3     84
4    105
dtype: int64

In [20]:
print(df.count())
print(df.cumsum())

A    5
B    5
c    5
dtype: int64
     A    B   c
0   10    5   6
1   25   20  18
2   45   45  36
3   70   80  60
4  100  125  90

In [19]:
print(df.cumsum())

     A    B   c
0   10    5   6
1   25   20  18
2   45   45  36
3   70   80  60
4  100  125  90